*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: grid;
  place-items: center;

  width: 100%;
  min-height: 100vh;

  background-color: black;
}
